name: 'Publish'

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install --ignore-scripts

      - uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_Publish }}
          greater-version-only: true
          package: 'packages/git-mob-core/package.json'

      - uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_Publish }}
          greater-version-only: true
          package: 'packages/git-mob/package.json'
