name: "Publish"

on: 
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      
      - name: Set up Node 
        uses: actions/setup-node@v3
        with:
          node-version: '16'
        
      - name: Install dependencies
        run: npm install

      - name: Install Git-Mob (link)
        run: npm link

      - uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_Publish }}
          greater-version-only: true